/* Universal Styles */
* {
  margin: 0;
  padding: 0;
}
/* Body */
body {
  font-size: 16px;
}
/* Header */
header {
  display: inline-flex;
  width: 100%;
  height: 4rem;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 2;
  background-color: rgb(255, 153, 1);
  border-bottom: 0.15rem solid rgb(14, 0, 196)
}
.logo {
  display: inline-flex;
  align-items: center;
  margin-left: 1.5rem;
}
.logo img {
  height: 3rem;
}
.colmar,
.academy {
  font-family: 'Montserrat', Helvetica, sans-serif;
  color: rgb(14, 0, 196);
  font-size: 1.7rem;
  text-transform: uppercase;
}
.colmar {
  font-weight: 900;
}
.academy {
  font-weight: 100;
}
nav {
  display: inline-flex;
  align-items: center;
  margin-right: 0.5rem;
  color: rgb(14, 0, 196);
  font-family: 'Montserrat', sans-serif;
}
nav span {
  padding: 0.7rem;
  border-radius: 2rem;
}
nav span a {
  color: rgb(14, 0, 196)
}
nav span:hover {
  background-color: rgb(255, 29, 0);
}
nav span:active {
  color: rgb(255, 254, 0);
}
/* Main */
main {
  position: relative;
  top: 4.15rem;
}
/* Jumbotron */
.jumbotron_container {
  width: 100%;
  display: inline-flex;
  align-items: center;
  background-color: rgb(14, 0, 196);
}
.jumbotron_container img{
  width: 60%;
  margin: 2rem 1.5rem;
  border: 0.05rem solid rgb(255, 153, 1);
}
.jumbotron_container .text {
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-right: 3rem;
}
.jumbotron_container .text h2 {
  font-family: 'Montserrat', Helvetica, sans-serif;
  color: rgb(255, 29, 0);
  margin-bottom: 1rem;
  font-size: 2.8rem;
  font-weight: 900;
  text-shadow: 0.125rem 0.125rem black;
}
.jumbotron_container .text p {
  margin-right: 7rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-family: 'PT Sans', sans-serif;
  color: rgb(255, 153, 1);
  font-size: 1.5rem;
  font-weight: 500;
}
.button {
  font-family: 'Montserrat', Helvetica, sans-serif;
  font-size: 1.6rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  text-align: center;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: rgb(255, 254, 0);
  color: rgb(14, 0, 196);
}
.button a {
  text-decoration: none;
  color: rgb(14, 0, 196);
}
.button i {
  display: none;
}
.button:hover {
  background-color: rgb(255, 153, 1);
  border: 0.25rem solid rgb(255, 29, 0);
  transition: all 250ms linear;
}
.button:hover i {
  display: inline;
}
.button:hover span {
  margin-right: 0.5rem;
  font-size: 2rem;
  transition: all 250ms linear;
}
.button:active span,
.button:active {
  color: rgb(255, 254, 0);
  transition: all 250ms linear;
}
/* Centre Top */
.centre_top_container {
  display: inline-flex;
  padding: 2rem 0.5rem 2rem 1.5rem;
  background-color: rgb(255, 153, 1);
}
.centre_top_left {
  width: 60%;
  display: block;
  margin-right: 1.5rem;
}
.centre_top_left img {
  width: 100%;
  border: 0.05rem solid rgb(14, 0, 196);
  margin-bottom: 2rem;
}
.left_text {
  display: block;
}
.left_text h2 {
  font-family: 'Montserrat', Helvetica, sans-serif;
  color: rgb(11, 0, 156);
  margin-bottom: 1rem;
  font-size: 2.75rem;
  font-weight: 900;
  text-shadow: 0.12rem 0.12rem black;
}
.left_text p {
  margin-top: 0.5rem;
  margin-bottom: 2rem;
  font-family: 'PT Sans', sans-serif;
  color: rgb(14, 0, 196);
  font-size: 1.5rem;
  font-weight: 500;
}
.left_text span {
  margin-top: 0.5rem;
  margin-bottom: 2rem;
  font-family: 'PT Sans', sans-serif;
  color: rgb(18, 0, 255);
  font-size: 0.75rem;
  font-weight: bold;
}
.centre_top_right {
  width: 40%;
  display: block;
}
.centre_top_right img {
  height: 35%;
  width: 35%;
  margin: 1rem;
  border: 0.05rem solid rgb(255, 153, 1);
}
.orientation,
.campus,
.guest {
  border: 0.05rem solid rgb(255, 153, 1);
  display: inline-flex;
  width: 100%;
  align-items: center;
}
.right_text {
  height: 35%;
}
.right_text h3 {
  font-family: 'Montserrat', Helvetica, sans-serif;
  color: rgb(255, 29, 0);
  margin-bottom: 1rem;
  font-size: 1.75rem;
  font-weight: 900;
  text-shadow: 0.075rem 0.075rem black;
}
.right_text p {
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
  font-family: 'PT Sans', sans-serif;
  color: rgb(255, 153, 1);
  font-size: 1rem;
  font-weight: 500;
}
.right_text span,
.right_text a {
  font-family: 'PT Sans', sans-serif;
  color: rgb(255, 254, 0);
  font-size: 0.9rem;
  font-weight: bold;
  padding: 0.7rem;
  border-radius: 2rem;
}
.right_text span:hover {
  background-color: rgb(255, 29, 0);
}
.right_text span:active {
  color: rgb(14, 0, 196);
}
.orientation {
  background-color: hsl(244, 100%, 70%)
}
.campus {
  background-color: hsl(244, 100%, 50%)
}
.guest {
  background-color: hsl(244, 100%, 30%)
}
/* Centre Bottom */
.centre_bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(14, 0, 196);
}
.centre_bottom_title {
  display: block;
  font-family: 'Montserrat', Helvetica, sans-serif;
  color: rgb(255, 29, 0);
  margin-top: 2rem;
  padding: 0.25rem;
  font-size: 2.8rem;
  font-weight: 900;
  text-shadow: 0.125rem 0.125rem black;
}
.subject_container {
  display: inline-flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 2rem 2.5rem;
}
.subject {
  background-color: rgb(255, 153, 1);
  width: 30%;
  margin-right: 1rem;
  margin-left: 1rem;
  margin-bottom: 2rem;
  border: 0.05rem solid rgb(255, 153, 1);
}
.subject img {
  width: 100%;
  border-bottom: 0.15rem solid rgb(14, 0, 196);
}
.subject h4 {
  font-family: 'Montserrat', Helvetica, sans-serif;
  color: rgb(11, 0, 156);
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 1rem;
  font-size: 1.75rem;
  font-weight: 900;
  text-shadow: 0.075rem 0.075rem black;
}
.subject span {
  font-family: 'PT Sans', sans-serif;
  color: rgb(14, 0, 196);
  font-size: 1rem;
  font-weight: 500;
  margin-left: 1rem;
  text-transform: uppercase;
}
.subject p {
  font-family: 'PT Sans', sans-serif;
  color: rgb(18, 0, 255);
  font-size: 0.9rem;
  font-weight: bold;
  margin-top: 0.5rem;
  margin-left: 1rem;
  margin-bottom: 1rem;
  line-height: 1.4;
}
.subject:hover {
  border: 0.75rem solid rgb(255, 29, 0);
  transition: border 250ms linear;
}
.subject:active {
  border: 0.75rem solid rgb(255, 254, 0);
}
/* Thesis exhibit */
.thesis_exhibit_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(255, 153, 1);
}
.thesis_exhibit_title {
  font-family: 'Montserrat', Helvetica, sans-serif;
  color: rgb(11, 0, 156);
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: 2.75rem;
  font-weight: 900;
  text-shadow: 0.12rem 0.12rem black;
}
.content_container {
  display: inline-flex;
  width: 100%;

}
.content_container video {
  width: 100%;
  margin-bottom: 1.5rem;
}
.left_side {
  width: 60%;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}
.thesis_text h2 {
  font-family: 'Montserrat', Helvetica, sans-serif;
  color: rgb(11, 0, 156);
  margin-bottom: 1rem;
  font-size: 1.75rem;
  font-weight: 900;
  text-shadow: 0.075rem 0.075rem black;
}
.thesis_text p {
  font-family: 'PT Sans', sans-serif;
  color: rgb(14, 0, 196);
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 2rem;
}
.right_side {
  width: 40%;
  display: flex;
  flex-direction: column;
  margin-right: 0.5rem;
}
.fisma,
.now_then {
  display: inline-flex;
  border: 0.05rem solid rgb(255, 153, 1);
}
.fisma:hover,
.now_then:hover {
  border: 0.75rem solid rgb(255, 29, 0);
  transition: border 250ms linear;
}
.fisma:active,
.now_then:active {
  border: 0.75rem solid rgb(255, 254, 0);
}
.fisma {
  background-color: hsl(244, 100%, 50%);
}
.now_then {
  background-color: hsl(244, 100%, 30%);
}
.fisma img,
.now_then img {
  width: 35%;
  height: 35%;
  margin: 1rem;
  border: 0.05rem solid rgb(255, 153, 1);
}
.fisma div,
.now_then div {
  display: block;
  margin: auto 0;
}
.fisma h4,
.now_then h4 {
  font-family: 'Montserrat', Helvetica, sans-serif;
  color: rgb(255, 29, 0);
  margin-bottom: 1rem;
  font-size: 1.75rem;
  font-weight: 900;
  text-shadow: 0.075rem 0.075rem black;
}
.fisma p,
.now_then p {
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
  font-family: 'PT Sans', sans-serif;
  color: rgb(255, 153, 1);
  font-size: 1rem;
  font-weight: 500;
}
/* Footer */
footer {
  display: inline-flex;
  width: 100%;
  height: 7rem;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(14, 0, 196);
  color: rgb(255, 153, 1);
  font-family: 'Montserrat', sans-serif;
}
footer p {
  padding-left: 1.5rem;
}
footer div {
  color: rgb(255, 153, 1);
  padding-right: 1.5rem;
}
footer span {
  padding: 0.7rem;
  border-radius: 2rem;
  color: rgb(255, 153, 1);
}
footer span:hover {
  background-color: rgb(255, 29, 0);
}
footer span:active {
  color: rgb(255, 254, 0);
